ICP-5/Source Code/flows.json
[{"id":"972ccbf9.4441f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"967d9969.992a08","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e4ea5f3e.3f126","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"4c87ddbb.9300d4","type":"twitter-credentials","z":"","screen_name":"tariksalay"},{"id":"a1f1aea7.0e458","type":"inject","z":"972ccbf9.4441f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["7793ba5e.bd1a64"]]},{"id":"e4af64bf.0b8028","type":"debug","z":"972ccbf9.4441f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":180,"wires":[]},{"id":"7793ba5e.bd1a64","type":"openweathermap","z":"972ccbf9.4441f8","name":"openweathermap","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":350,"y":80,"wires":[["86a09dbe.31076"]]},{"id":"86a09dbe.31076","type":"function","z":"972ccbf9.4441f8","name":"extractTweetMessage","func":"msg.payload = \"Weather update:\" + msg.payload['description'];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["e4af64bf.0b8028","5b0c0b8a.5100f4","929dd936.3e1928"]]},{"id":"5b0c0b8a.5100f4","type":"twitter out","z":"972ccbf9.4441f8","twitter":"4c87ddbb.9300d4","name":"Tweet","x":550,"y":260,"wires":[]},{"id":"929dd936.3e1928","type":"e-mail","z":"972ccbf9.4441f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tariksalay@gmail.com","dname":"email","x":550,"y":340,"wires":[]}]